.saas-upload-button div.ant-upload {
    width: 100% !important;
  }

  
.saas-upload-button .ant-upload-list-item-actions>a {
    pointer-events: all !important;
    opacity: 1 !important;
}

.saas-upload-button div.ant-upload-list-item-container{
    width: 100% !important;
}