.MainLayout {
  display: flex;
}

.MainLayout main {
  display: flex;
  padding-top: 80px;
  width: 100%;
}

.MainLayout aside {
  width: 120px;
}

.MainLayout .main-content {
  margin: 16px 10px;
  flex: 1;
}

@media only screen and (min-width: 1023px) {
  .MainLayout .main-content {
    margin: 16px;
  }
}
