.MainLayout {
  min-height: 100vh;
  background-color: #f4f4f4;
}

.MainLayout main {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
}

.MainLayout aside {
  width: 200px;
  transition: width 0.3s;
}

.MainLayout aside.collapsed {
  width: 80px;
}

.MainLayout .main-content {
  flex: 1;
  margin-left: 200px;
  transition: margin 0.3s;
}

/* Mobile styles */
@media only screen and (max-width: 1023px) {
  .MainLayout aside {
    display: none;
  }

  .MainLayout .main-content {
    margin-left: 0;
    padding: 16px;
  }

  .MainLayout .main-content.content-collapsed {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1023px) {
  .MainLayout .main-content {
    margin: 16px;
  }
}
